$color-primary: #1490FF;
$color-warning: #E08330;
$color-success: #09BB07;
$color-danger: #E02020;
$background-color: #00152A;
$menu-background-color: #072148;
$menu-item: #000E1D;
$menu-title-hover: #00233F;
$content-background-color: #F9F9FB;
$content-text-color: #0C1231;
$opacity: 0.3;

